$height-header: 632px;
$body-bg-color:#21232E;
$header-bg-img: url(../img/m-h-night.jpg);
$section-card-footer-bg-color: #3B3F50;
$color-main: #fff;
$span-bg-color: #FF4E33;
$btn-bg-color:#E3AC00;
$font-family-heading: 'Source Sans Pro', sans-serif;
$font-family-p: 'Fresca', sans-serif;