body {
  margin: auto 0px;
}

.headerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:#FFFFFF;
  height: 72px;
}

.topContainer {
  width: 71%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.topContainer .topText,
a {
  color: #777;
}

.topText a{
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.mainNav ul {
  display: flex;
  list-style: none;
  padding: 0px;
}

li{
  text-decoration: none;
}

.mainNav ul a {
  text-decoration: none;
  padding: 0px 4px 0px 37px;
  font-size: 14px;
  letter-spacing: 1px
}

.mainNav ul a:hover {
 color: #bfba55; 
}

.bannerImgBg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/home-bg.jpg);
  background-repeat: no-repeat;
  background-position: center,top;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 676px;
}

.bannerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 227px;
}
 
.bannerText h2{
  color: #fff;
  font-family: 'Merriweather', serif;
  font-size: 52px;
  margin: 50px 0px 0px 0px;
}

.bannerText p {
  color: #bfba55;
  font-family: 'Merriweather', serif;
  font-size: 10px;
  letter-spacing: 1.5px;
  font-weight: normal;
  margin: 15px 0px 42px;
}

.bannerBtn {
  height: 35px;
  width: 135px;
  border-radius: 20px;
  border-style: none;
  font-family: 'Merriweather', serif;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #fff;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
}

.mainContainer article {
  width: 59.5%;
  height: auto;
  padding: 15px;
  margin: 40px 0px;
}

.mainContainer article:last-child {
  margin-top: 55px;
}

.mainContainer article h2 {
  font-size: 22px;
  color: #000;
  font-family: 'Merriweather', serif;
  margin: 28px 0px 10px;
}

.mainContainer article p:nth-child(even) {   
  color: #777;
  line-height: 22px;
  font-size: 15px;
  word-spacing: 0.7px;
  margin-top: 18px;
}

.mainContainer article .blogImg {
  width: 100%;
  height: auto;
  background-size: cover;
}

.authorReview {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}

.authorReview img {
  height: 35px; 
  width: auto;
  border-radius: 50%;
  margin-right: 5px;
}

.dateComments {
  margin-left: 17px;
}

.comment-icon {
  margin-left: 10px;
  padding: 3px 2px 0px 0px;
  font-size: 12px;
}

hr {
  color: rgba(119, 119, 119, 0.1);
  width: 59.5%;
  border-width: 1px 0px 0px ;
  margin-bottom: 5px;
}

.blogBtn {
  height: 42px;
  width: 155px;
  border-radius: 20px;
  border-style: none;
  font-family: 'Merriweather', serif;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #fff;
  border: solid 1px #77777782;
  color: #777;
  margin: 17px 0px 0px 5px;
}

footer {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.botContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 59.5%;
  height: 302px;
  align-items: center;
}

footer h2 {
  color: #fff;
  font-size: 22px;
  font-family: 'Merriweather', serif;
}

footer P {
  color: #777;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.1px;
  word-spacing: 2px;
}

.botContainer div {
 margin-bottom: 45px;
}

.oneFtBlock {
  height: 122px;
  width:  380px;
}

.oneFtBlock  p {
  line-height: 1.5;
}

.oneFtBlock  p:nth-child(odd) {
  margin-top: 20px;
}

.oneFtBlock h2 {
  margin-bottom: 15px;
}

.twoFtBlock {
  height: 122px;
  width:  300px;
  margin-right: 5px;
}
